@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000;
}
a {
	color: #444;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
  text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a{
  color: #fff;
  font-weight: bold;
}
#footer a:hover {
  color: #3397db;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding-top: 1em;
}
nav h1 a {
  color: #fff;
  font-size: 18pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
nav.breadcrumb {
  height: 0%;
  background-color: #fff;
}

#breadcrumb {
    padding: 40px 0px 16px 0px;
    list-style: none;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #252831;
  align-items: center;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 12pt;
  height: 35px;
  letter-spacing: 0;
  margin: 15px 10px;
  width: calc((100vw - 45px)/2);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
  padding: 30px 15px 60px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 48px;
  grid-row-gap: 96px;
}

#restaurants-list .restaurant-img {
  max-width: 100%;
}
#restaurants-list li h1 {
  color: #000;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 12pt;
}
#restaurants-list li a {
  border: 1px solid #444;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover{
  border-color: #3397DB;
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.parent{
  display: flex;
}

#picture-wrapper{
  width: 50%;
}
#table-wrapper{
  width: 50%;
}
#restaurant-name {
  font-family: Arial,sans-serif;
  font-size: 26pt;
  font-weight: 400;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 90%;
}
#restaurant-address {
  font-size: 16pt;
  font-weight: bold;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #252831;
  color: #fff;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0px 40px 30px 40px;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 1px solid #c3c3c3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}

#reviews-list li p:nth-child(1) {
  font-size: 14pt;
}

#reviews-list li p:nth-child(2) {
  font-style: italic;
}

#reviews-list li p:nth-child(3) {
  font-weight: bold;
}

#restaurant-hours {
  width: 100%
}

#restaurant-hours td {
  width: 50%
}

#restaurant-hours tr td {
  font-size: 16pt;
}

#restaurant-hours tr td:nth-child(2) {
  text-align: right;
}


@media screen and (max-width: 1044px) {
  #restaurant-hours tr td{
    font-size: 12pt;
  }

}

@media screen and (max-width: 1000px) {
  #restaurants-list{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 750px) {
  #restaurants-list{
    grid-template-columns: repeat(3, 1fr);
  }
  .parent{
    flex-direction: column;
    height: auto;
  }
  #table-wrapper {
    width: 100%;
  }
  #restaurant-address {
    font-size: 14pt;
  }
  #restaurant-name {
    font-size: 20pt;
  }
  #picture-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  #restaurants-list{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 458px) {
  nav h1 {
    font-size: 0.3em;
  }
  #restaurants-list{
    grid-template-columns: repeat(1, 1fr);
  }
}